# yaml-language-server: $schema=https://unpkg.com/@sveltia/cms/schema/sveltia-cms.json

backend:
  name: github
  repo: retrospatial/website

media_folder: /static/blog
public_folder: /blog

collections:
  - name: posts
    label: Posts
    folder: /content/posts
    fields:
      - label: Title
        name: title
        widget: string
        required: true

      - label: Description
        name: desc
        widget: string
        required: true

      - label: Cover
        name: cover
        widget: image
        required: false

      - label: Body
        name: body
        widget: markdown
        required: true

      - label: Date
        name: date
        widget: datetime
        format: YYYY-MM-DD
        time_format: true

      - label: Tags
        name: tags
        widget: list
        required: false

